.AProposImg {
  display: flex;
  justify-content: center;
}
.AProposImgImg {
  border-radius: 25px;
  filter: brightness(0.7);
  margin-top: 6%;
  width: 88%;
  object-fit: cover;
}
.AProposSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
}
.AProposSection content {
  color: white;
}
.AProposImgMob {
  display: none;
}
@media (max-width: 800px) {
  .AProposImgImg {
    display: none;
  }
  .AProposImgMob {
    display: initial;
    width: 84%;
    height: 223px;
    margin: 7% 7% 4% 7%;
    border-radius: 10px;
    filter: brightness(0.7);
    object-fit: cover;
    object-position: left;
  }
}
