.banniereImg {
    border-radius: 25px;
    filter: brightness(0.7);
    position: relative;
    z-index: 1;
    margin-top: 3%;
    width: 1403px;
    object-fit: cover;
}
.banniere p {
    position: absolute;
    z-index: 2;
    font-size: 48px;
    color: white;
    right: 32.14%;
    top: 30.32%;
    bottom: 69.04%;
}
.banniere {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 4%;
}