.banniereImg {
  border-radius: 25px;
  filter: brightness(0.7);
  position: relative;
  z-index: 1;
  margin-top: 3%;
  width: 88%;
  object-fit: cover;
}
.banniereImgMob {
  display: none;
}
.banniere p {
  position: absolute;
  z-index: 2;
  font-size: 4vw;
  color: white;
  margin-top: 9%;
}
.banniere {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 4%;
}
.banniere br {
  display: none;
}

@media (max-width: 600px) {
  .banniere {
    align-items: flex-start;
  }
  .banniere br {
    display: initial;
  }
  .banniere p {
    font-weight: 500;
    margin: 12% 0 0 -40%;
  }
  .banniereImg {
    display: none;
  }
  .banniereImgMob {
    display: initial;
    position: relative;
    object-fit: cover;
    z-index: 1;
    border-radius: 10px;
    width: 84%;
    height: 111px;
    filter: brightness(0.7);
    margin: 3% 0 -8% 0;
  }
}
