.collapseApropos {
  width: 80%;
  margin-bottom: 25px;
  font-size: 20.8px;
}
.buttonApropos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #ff6060;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
.collapseContent {
  background-color: #f6f6f6;
  color: #ff6060;
  padding: 20px 10px 10px;
  border-radius: 0 0 10px 5px;
  font-weight: 400;
}
.collapseButton p {
  font-size: 24px;
}

@media (max-width: 822px) {
  .buttonApropos {
    margin: 1% -5% 0 -4%;
    padding: 0 2%;
  }
  .collapseContent {
    margin: 0 -5%;
    padding-bottom: 11%;
  }
}
