.ficheLogement {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 1);
  margin: 0 1%;
}
.dataLogement {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
}

.adressLogement {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.localisationLogement {
  display: flex;
  flex-direction: column;
}

.titleFicheLogement {
  font-size: 2.25vw;
  line-height: 142.6%;
  color: #ff6060;
  font-weight: 500;
}

.txtLocationLogement {
  color: #ff6060;
  font-size: 1.13vw;
  margin-top: -2%;
}

.tagLogement {
  display: flex;
  margin-bottom: 2%;
}
.dataPropLogement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.ficheProp {
  display: flex;
  justify-content: flex-end;
}

.detailsProp {
  display: flex;
  justify-content: space-between;
}

.detailsProp p {
  font-weight: 500;
  font-size: 1.125rem;
  padding-right: 2vw;
  color: #ff6060;
  width: min-content;
}

.menuLogement {
  display: flex;
  justify-content: space-between;
  margin: 0 6% 0 5%;
}

.logementHostPicture {
  display: flex;
  justify-content: flex-end;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #c4c4c4;
  margin: 0.5vw 1vw 0 0;
}

.menuDescription {
  display: flex;
  flex-direction: column;
  min-width: 55%;
  color: rgba(255, 96, 96, 1);
  font-size: 1.5rem;
}
.menuDescriptionDetail {
  font-size: 1.125vw;
}

.menuEquipements {
  min-width: 55%;
  margin-left: 1%;
}

.menuDescription li,
.menuEquipements li {
  list-style-type: none;
}
.notesLogement {
  width: 30px;
  height: 30px;
}

@media (max-width: 800px) {
  .titleFicheLogement {
    font-size: 18px;
  }

  .menuLogement {
    display: flex;
    flex-direction: column;
  }

  .dataLogement {
    flex-direction: column;
  }

  .notesLogement {
    margin-top: 5%;
  }

  .detailsProp p {
    font-size: 0.75rem;
    margin-top: 1vw;
  }

  .dataPropLogement {
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 2% 0;
  }

  .logementHostPicture {
    width: 32px;
    height: 32px;
  }

  .txtLocationLogement {
    font-size: 14px;
  }
  .menuDescription {
    width: 101vw;
    margin-left: 5%;
  }

  .menuEquipements {
    width: 101vw;
    margin-left: 5%;
  }
}
