.footer {
  display: flex;
  position: relative;
  background: #000000;
  margin: 6%;
  height: 180px;
  width: 88%;
  flex-direction: column;
  align-items: center;
}
.logos {
  padding-top: 4%;
}
.reserved {
  color: white;
}

@media (max-width: 600px) {
  .footer {
    margin: 0 6%;
  }
}
