.Header {
    margin-top: 3%;
}
.logo {
    margin-left: 3%;
}
.Headers {
    position: relative;
    margin-top: -3%;
}
.accueil {
    text-decoration: underline;
    color: #FF6060;
    font-size: 24px;
    position: absolute;
    right: 16.95%;
}
.aPropos {
    text-decoration: none;
    color: #FF6060;
    font-size: 24px;
    position: absolute;
    left: 86.65%;
}