.menuDeroulantTitre {
  width: 51vw;
  margin-bottom: -8%;
  border-radius: 5px;
}
.menuDeroulant {
  width: 41rem;
}

@media (max-width: 800px) {
  .menuDeroulantTitre {
    font-size: 13px;
  }

  .menuDeroulantDescription {
    font-size: 12px;
  }
}
