.noteEtoileVide {
  color: rgba(227, 227, 227, 1);
}

.noteEtoilePleine {
  color: rgba(255, 96, 96, 1);
}

.notes span {
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
}

@media (max-width: 800px) {
  .notes span {
    width: 15px;
    height: 15px;
  }

  .notes {
    margin-top: -22%;
  }
}
