.containerSlideshow {
  height: 25.938rem;
  overflow: hidden;
  border-radius: 25px;
  position: relative;
  margin-top: 5%;
}

.slider {
  position: absolute;
  width: 100%;
}

.numbertext {
  z-index: 1;
  position: absolute;
  right: 49.11%;
  top: 86.19%;
  bottom: 6.01%;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.slideDisp img {
  margin-right: 4%;
}

.slider img {
  max-height: 415px;
  width: 90%;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
  margin-left: 5%;
}

.flecheDroite,
.flecheGauche {
  position: absolute;
  top: 40%;
  height: 4.95rem;
  width: 2.918rem;
  margin: 0 7%;
  z-index: 1;
  cursor: pointer;
  font-weight: 500;
}

.flecheDroite {
  right: 0;
}

.nbreVues {
  z-index: 1;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 800px) {
  .slider img {
    margin: 3% 0 0 5%;
    height: 13.938rem;
    border-radius: 10px;
    width: 100%;
  }

  .flecheDroite {
    margin-right: -8%;
  }

  .flecheDroite img,
  .flecheGauche img {
    margin: 38% 16% 0 16%;
    width: 0.729rem;
    height: 1.238rem;
  }

  .slider {
    width: 92%;
  }

  .containerSlideshow {
    height: 246px;
  }
  .numbertext {
    right: 38.11%;
  }
}
