.containerSlideshow {
  height: 463px;
  overflow: hidden;
  border-radius: 25px;
  position: relative;
  margin-top: 3%;
}

.slider {
  position: absolute;
  width: 100%;
}

.numbertext {
  z-index: 1;
  position: absolute;
  right: 49.11%;
  top: 86.19%;
  bottom: 6.01%;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}

.slider img {
  max-width: 1373px;
  max-height: 415px;
  object-fit: cover;
  object-position: center;
  border-radius: 25px;
  margin-left: 5%;
}

.flecheDroite,
.flecheGauche {
  position: absolute;
  top: 40%;
  width: 46.68px;
  height: 79.2px;
  margin: 0 7%;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  z-index: 1;
  cursor: pointer;
}
.flecheDroite {
  right: 0;
}

.nbreVues {
  z-index: 1;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}
